[mysqld]

##
## Startup
##
user			= mysql
port			= 3306
bind-address	= 0.0.0.0
socket			= /var/lib/mysql/mysql.sock
#socket			= /var/run/mysqld/mysqld.sock
pid-file		= /var/run/mysqld/mysqld.pid


##
## Data
##
basedir			= /usr
datadir			= /var/lib/mysql
tmpdir			= /tmp


##
## Logging
##
log-error		= /var/log/mysql/mysql_error.log
general_log_file= /var/log/mysql/mysql.log
general_log		= 0


##
## Security
##
symbolic-links	= 0
#sql_mode		= NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
