# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.5/en/server-configuration-defaults.html


############################################################
## Mysqld
############################################################
[client]
port = 3306
socket=/var/lib/mysql/mysql.sock

[mysqld]

##
## Startup
##
user = mysql
port = 3306
bind-address=0.0.0.0
socket=/var/lib/mysql/mysql.sock
#socket=/var/run/mysqld/mysqld.sock


##
## Data
##
datadir=/var/lib/mysql


##
## Logging
##
log-error=/var/log/mysql/mysql_error.log
general_log_file=/var/log/mysql/mysql.log
general_log=0


##
## Security
##
symbolic-links=0
# Recommended in standard MySQL setup
#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES


##
## Performance
##
skip_external_locking

max_connections                         = 151

## Raise to 128M for 2GB RAM, 256M for 4GB RAM and 512M for 8GB RAM
key_buffer_size                         = 256M

## Raise to 128M for 2GB RAM, 256M for 4GB RAM and 512M for 8GB RAM
innodb_buffer_pool_size                 = 256M

## Misc Tunables (Don't touch these unless you know why you would want to touch these)##
max_allowed_packet                      = 16M
innodb_file_per_table

## Changing this setting requires you to stop MySQL, move the current logs out of the way, and then starting MySQL ##
innodb_log_file_size                    = 128M


############################################################
## Mysqld Safe
############################################################
[mysqld_safe]
pid-file=/var/run/mysqld/mysqld.pid
